In [ ]:
'''
ACTIVAR ENTORNO VIRTUAL
-------------------------
python -m venv env
.\env\Scripts\activate 

GUARDAR DEPENDENCIAS INSTALADAS 
-------------------------------
pip freeze > requirements.txt

'''

In [33]:
import pandas as pd
import numpy as np
from seaborn import load_dataset

## FORMATO RECIBO

In [23]:
# Carga datos 
df_format= pd.read_excel('C:/Users/yoe_1/OneDrive/Escritorio/CARPETA_DOCUMENTOS/Medidor_luz/REGISTRO DE MEDIDOR.xlsx',sheet_name='RECIBO DE LUZ',usecols='A:Y',header=2)
df_format.columns = df_format.columns.str.strip()
df_format.head()

,MES,KWh S/.,LECTURA,VAR. LECTURA,REPOSICIÓN Y MANTENIM.,CARGO FIJO,CARGO ENERGIA,INTERES CONVENIO,ALUMBRADO PUBLICO,SUBTOTAL,...,REDONDEO 2,TOTAL A PAGAR :,Unnamed: 17,CONSUMO DE ENERGIA ADICIONAL,C.E.A. INDIVID.,Unnamed: 20,COR-Fus. o interr (s/r),REP-Fus. o interrup(s/r),Cambio precios 2017-2020,I.G.V. 18% Refact.
0,2018-08-01,0.5076,1562.0,285.0,1.33,2.61,144.6660,4.27,11.00,163.8760,...,0.0,230.353680,NaN,85.687680,28.562560,NaN,0.0,0.0,0.0,0.0
1,2018-09-01,0.5073,1859.0,297.0,1.33,2.61,150.6681,3.86,12.00,170.4681,...,0.0,238.642358,NaN,87.974258,29.324753,NaN,0.0,0.0,0.0,0.0
2,2018-10-01,0.5073,2235.0,376.0,1.33,2.61,190.7448,3.46,14.35,212.4948,...,0.0,289.283864,NaN,98.539064,32.846355,NaN,0.0,0.0,0.0,0.0
3,2018-11-01,0.5057,2620.0,385.0,1.33,2.64,194.6945,3.04,11.55,213.2545,...,0.0,290.680310,NaN,95.985810,31.995270,NaN,0.0,0.0,0.0,0.0
4,2018-12-01,0.5072,3036.0,416.0,1.35,2.69,210.9952,2.62,11.90,229.5552,...,0.0,310.585136,NaN,99.589936,33.196645,NaN,0.0,0.0,0.0,0.0

In [24]:
df_format.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53 entries, 0 to 52
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   MES                           53 non-null     datetime64[ns]
 1   KWh S/.                       53 non-null     float64
 2   LECTURA                       51 non-null     float64
 3   VAR. LECTURA                  51 non-null     float64
 4   REPOSICIÓN Y MANTENIM.        51 non-null     float64
 5   CARGO FIJO                    51 non-null     float64
 6   CARGO ENERGIA                 51 non-null     float64
 7   INTERES CONVENIO              51 non-null     float64
 8   ALUMBRADO PUBLICO             51 non-null     float64
 9   SUBTOTAL                      51 non-null     float64
 10  IGV                           51 non-null     float64
 11  TOTAL MES ACTUAL              51 non-null     float64
 12  APORTE DE LEY:                51 non-null     float64
 13  cuota de convenio             51 non-null     float64
 14  REDONDEO                      51 non-null     float64
 15  REDONDEO 2                    53 non-null     float64
 16  TOTAL A PAGAR :               51 non-null     float64
 17  Unnamed: 17                   0 non-null      float64
 18  CONSUMO DE ENERGIA ADICIONAL  51 non-null     float64
 19  C.E.A. INDIVID.               51 non-null     float64
 20  Unnamed: 20                   0 non-null      float64
 21  COR-Fus. o interr (s/r)       53 non-null     float64
 22  REP-Fus. o interrup(s/r)      53 non-null     float64
 23  Cambio precios 2017-2020      53 non-null     float64
 24  I.G.V. 18% Refact.            53 non-null     float64
dtypes: datetime64[ns](1), float64(24)
memory usage: 10.5 KB

In [25]:
# Eliminando filas con valores vacios

df_format= df_format.dropna(how = 'all', axis=1)
df_format= df_format.dropna(how = 'any', axis=0)
df_format= df_format.sort_values('MES',ascending=False).reset_index(drop=True) # Orden reverso
df_format.head()

,MES,KWh S/.,LECTURA,VAR. LECTURA,REPOSICIÓN Y MANTENIM.,CARGO FIJO,CARGO ENERGIA,INTERES CONVENIO,ALUMBRADO PUBLICO,SUBTOTAL,...,cuota de convenio,REDONDEO,REDONDEO 2,TOTAL A PAGAR :,CONSUMO DE ENERGIA ADICIONAL,C.E.A. INDIVID.,COR-Fus. o interr (s/r),REP-Fus. o interrup(s/r),Cambio precios 2017-2020,I.G.V. 18% Refact.
0,2022-10-01,0.6812,26779.0,613.0,1.66,3.31,417.5756,0.90,34.3,457.7456,...,0.00,-0.11,0.32,545.989808,128.414208,42.804736,0.0,0.0,0.0,0.00
1,2022-09-01,0.6799,26166.0,516.0,1.66,3.31,350.8284,0.70,35.7,392.1984,...,0.01,-0.32,0.26,467.494112,116.665712,38.888571,0.0,0.0,0.0,0.00
2,2022-08-01,0.6642,25650.0,546.0,1.63,3.27,362.6532,1.68,38.5,407.7332,...,-150.11,-0.26,0.23,336.005176,-26.648024,-8.882675,0.0,0.0,0.0,0.00
3,2022-07-01,0.6560,25104.0,651.0,1.61,3.24,427.0560,1.04,35.7,468.6460,...,0.00,-0.23,0.24,559.002280,131.946280,43.982093,0.0,0.0,0.0,0.00
4,2022-06-01,0.6546,24453.0,768.0,1.61,3.21,502.7328,0.87,35.2,543.6228,...,0.00,-0.24,0.28,650.004904,145.852104,48.617368,0.0,0.0,1.2,0.22

In [279]:
df_format.to_csv('df_format.csv', index=False)

-----

## REGISTRO CONSUMO

In [28]:
# Carga datos
df= pd.read_excel('C:/Users/yoe_1/OneDrive/Escritorio/CARPETA_DOCUMENTOS/Medidor_luz/REGISTRO DE MEDIDOR.xlsx',sheet_name='REGISTRO',usecols='A:I',header=3)
df.columns = df.columns.str.strip()
df.head()

,MES,KWh,MES2,ITEM,LECTURA,VAR. LECTURA,CONSUMO ENERGIA(S/.),C.E.ADICIONAL,X PAGAR
0,2018-08-01,0.5076,2018-08-01,TOTAL,1562.0,285,144.6660,85.687680,230.350000
1,NaT,NaN,2018-08-01,NOEMI,384.0,83,42.1308,28.562560,102.550000
2,NaT,NaN,2018-08-01,WILMER,137.0,70,35.5320,28.562560,95.950000
3,NaT,NaN,2018-08-01,ANDY,NaN,132,67.0032,28.562560,31.860000
4,2018-09-01,0.5073,2018-09-01,TOTAL,1859.0,297,150.6681,87.974258,238.642358

In [29]:
# Limpieza de datos
df['MES']=df['MES2']
df = df.drop('MES2',axis=1)                     # MES           - Se establece solo una columna MES
df = df.drop(df[df['VAR. LECTURA']==0].index)   # VAR. LECTURA	- Se eliminan valores nulos irrelevantes
df.head()

,MES,KWh,ITEM,LECTURA,VAR. LECTURA,CONSUMO ENERGIA(S/.),C.E.ADICIONAL,X PAGAR
0,2018-08-01,0.5076,TOTAL,1562.0,285,144.6660,85.687680,230.350000
1,2018-08-01,NaN,NOEMI,384.0,83,42.1308,28.562560,102.550000
2,2018-08-01,NaN,WILMER,137.0,70,35.5320,28.562560,95.950000
3,2018-08-01,NaN,ANDY,NaN,132,67.0032,28.562560,31.860000
4,2018-09-01,0.5073,TOTAL,1859.0,297,150.6681,87.974258,238.642358

In [30]:
# Se completa Val. faltantes en lectura
ind_lectura_na = df[df['ITEM']=='ANDY'].index.tolist()

for i in ind_lectura_na:
    df.loc[i,'LECTURA']=df.loc[i-3,'LECTURA']-df.loc[i-2,'LECTURA']-df.loc[i-1,'LECTURA']

In [31]:
# Tabla oficial del registro de consumo por individuo
df_indi = df.drop(df[df['ITEM']=='TOTAL'].index).reset_index(drop=True)
df_indi = df_indi.drop('KWh',axis=1)
df_indi = df_indi.sort_index(ascending=False).reset_index(drop=True)    # Ordenando indices
df_indi.head(20)

,MES,ITEM,LECTURA,VAR. LECTURA,CONSUMO ENERGIA(S/.),C.E.ADICIONAL,X PAGAR
0,2022-10-01,ANDY,8279.0,242,164.8504,42.804736,69.22
1,2022-10-01,WILMER,11162.0,229,155.9948,42.804736,268.02
2,2022-10-01,NOEMI,7338.0,142,96.7304,42.804736,208.75
3,2022-09-01,ANDY,8037.0,46,31.2754,38.888571,23.39
4,2022-09-01,WILMER,10933.0,271,184.2529,38.888571,246.53
5,2022-09-01,NOEMI,7196.0,199,135.3001,38.888571,197.58
6,2022-08-01,ANDY,7991.0,149,98.9658,-8.882675,30.03
7,2022-08-01,WILMER,10662.0,226,150.1092,-8.882675,171.25
8,2022-08-01,NOEMI,6997.0,171,113.5782,-8.882675,134.72
9,2022-07-01,ANDY,7842.0,137,89.8720,43.982093,44.62
10,2022-07-01,WILMER,10436.0,342,224.3520,43.982093,312.95
11,2022-07-01,NOEMI,6826.0,172,112.8320,43.982093,201.43
12,2022-06-01,ANDY,7705.0,154,100.8084,48.617368,49.81
13,2022-06-01,WILMER,10094.0,438,286.7148,48.617368,385.14
14,2022-06-01,NOEMI,6654.0,176,115.2096,48.617368,213.64
15,2022-05-01,ANDY,7551.0,153,99.7713,42.924265,47.57
16,2022-05-01,WILMER,9656.0,338,220.4098,42.924265,310.90
17,2022-05-01,NOEMI,6478.0,191,124.5511,42.924265,215.04
18,2022-04-01,ANDY,7398.0,83,53.9915,10.737723,21.58
19,2022-04-01,WILMER,9318.0,267,173.6835,10.737723,206.00

------

DESCARGA DE TABLAS LIMPIAS :

In [43]:
writer = pd.ExcelWriter('df_prueba.xlsx')
df_format.to_excel(writer,sheet_name="formato", index=False)
df_indi.to_excel(writer,sheet_name="individual", index=False)
writer.save()
writer.close()

C:\Users\yoe_1\AppData\Local\Temp\ipykernel_12464\3704234471.py:4: FutureWarning: save is not part of the public API, usage can give in unexpected results and will be removed in a future version
  writer.save()